@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 ml-1">
            <Cashly.Client.Shared.UserButton />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
